//_mixins.scss

//===========================
//POSITIONAL MIXINS
//===========================

//center (vertically & horizontally) in viewport
@mixin absolute-center() {
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

//center horizontally in viewport
@mixin horizontal-center() {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

//fixed, full screen - used on overlays
@mixin fixed-fullscreen() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

